* {
  box-sizing: border-box;
  margin: 0px;
  color: inherit;
  text-decoration: none;
}


body {
  color: rgb(49, 49, 49);
  background-color: rgb(236, 236, 236);
  /* background-color: rgb(236, 236, 255); */
  display: grid;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.divider {
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.divider hr {
  width: 40%;
  background-color: rgb(177, 177, 177);
  height: 1px;
  border: none;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}


.photo-container {
  margin-top: 15px;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  max-height: 20vh;
  text-align: center;
}


.portrait {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px;
  box-shadow: 0px 10px 30px -22px rgb(0, 0, 0);
}

.portrait img {
  width: 200px;
  height: 200px;
  filter: grayscale(50%);
  transition: all 0.5s;
}

.portrait img:hover {
  cursor: pointer;
  filter: grayscale(0%);
}


.info-container {
  text-shadow: 0px 5px 15px rgb(0, 0, 0, 0.15);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.info-container h1 {
  color: rgb(66, 66, 66);
  font-size: 45px;
  margin-bottom: -15px;
}

.info-container span {
  color: rgb(56, 56, 56);
  font-size: 24px;
}

.info-container .links {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info-container .links div {
  color: rgb(49, 49, 49);
  background-color: rgb(219, 218, 218);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin: 5px 10px 0px 10px;
  box-shadow: 0px 2px 20px 2px rgb(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.3s;
}

.info-container .links div:hover {
  box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.15);
}

.info-container .links .linkedin:hover {
  color: white;
  background-color: rgb(11, 102, 195);
}

.info-container .links .github:hover {
  color: white;
  background-color: rgb(49, 49, 49);
}


.example-content {
  color: rgb(34, 34, 34);
  background-color: rgb(207, 207, 207);
  border-radius: 10px;
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.045);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 100px;
  margin: 10px;
  padding-top: 15px;
  padding-bottom: 30px;
  transition: all 0.8s;
}


.example-content .project-info {
  padding-bottom: 20px;
}

.example-content:hover {
  width: 90%;
  height: 100vh;
  margin: 20px;
  border-radius: 40px;
  /* color: rgb(100, 25, 219); */
  text-shadow: 1px 1px 3px rgba(75, 75, 75, 0.055);
  background-color: rgb(224, 224, 224);
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.024);
}


.example-content iframe {
  filter: grayscale(100%);
  border: none;
  border-radius: 20px;
  width: 0%;
  height: 0%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
  transition: all 0.8s;
}

.example-content:hover>iframe {
  filter: grayscale(0%);
  width: 95%;
  height: 100%;
}